@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #333;
  --background: #f5f5f5;
  --primary-color: #1728eb;
  --secondary-color: #4CAF50;
}

html {
  font-size: 16px !important;
  box-sizing: border-box; 
  -webkit-font-smoothing: antialiased;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

.footer {
  position: fixed;
  bottom: 0%;
  min-height: 50px;
  width: 100%;
  background-color: black;
  color: white;
}

* {
  font-family: sans-serif;
  text-decoration: none;
  
}

nav {
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-bottom: rgb(199, 199, 199) solid 1px;
}

.search, .searchbar {
  height: 50px;
  display: flex;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(248, 243, 243);
  border-bottom: rgb(199, 199, 199) solid 1px;
}

input.search {
  margin-left: 20px;
  border: rgb(199, 199, 199) 1px solid;
  border-radius: 5px;
  width: 300px;
  padding: 8px;
  margin: 10px 5px;
}

.searchBtn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  font-weight: bold;
  padding: 8px;
  margin: 10px 5px;
}

main {
  display: flex;
}

article {
  width: 50vw;
  height: 70vh !important;
  overflow-y: scroll !important;
  padding: 20px;
  line-height: 3;
}

article.listings {
  box-shadow: rgba(60, 64, 67, 0.3) -2px 0px 2px 0;
  padding: 20px;
  width: 60%;
}

.card-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-y: scroll !important;
  margin-top: 1rem !important;
  line-height: 1.5;
}

h1 {
  margin-bottom: 5rem;
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

.card {
  max-height: 300px !important;
  font-size: 16px !important;
  border: 1px solid black;
  box-shadow: 1px 1px 1px red;
  min-height: 300px !important;
}

html {
  font-size: 16px !important;
}

.modal {
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -40%);
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50% !important;
  width: 75%;
  padding: 20px;
  max-height: 60% !important;
  margin-bottom: 3rem;
}

.modal img {
  max-width: 100%;
  max-height: 30% !important;
}

.btnModal {
  background-color: var(--secondary-color);
  color: white;
  padding: 10px 20px;
  border: 1px solid green;
  cursor: pointer;
  transition-duration: 0.3s;
  position: absolute;
  right: 20px;
  top: 20px;
}

img {
  max-height: 300px !important;
  min-width: 100%;
}

.searchCard {
  margin-bottom: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding: 10px;
  background-color: beige;
}

@media screen and (min-width: 600px) and (max-width: 767px) {
 article:first-of-type{
 display: none;

 }

  /*Fit article.listings under the .testing class*/
  article.listings {
    width: 120vw !important;
    margin: 0;
    padding: 10%;
    position: relative; 
    transform: translate(-8%, 0%) !important;
  
    }
    main{
      display: block !important;
    }

}


@media screen and (min-width: 768px) and (max-width: 1024px) {
  article:first-of-type{
    width: 100vw !important;
    height: 20vh !important;
    position: relative !important;
    display: none;
   }
  
    /*Fit article.listings under the .testing class*/
    article.listings {
      width: 120vw !important;
      margin: 0;
      padding: 10%;
      position: relative; 
      transform: translate(-8%, 0%) !important;
    
      }
      main{
        display: block !important;
      }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  article:first-of-type {
    width: 100vw;
    height: 40vh !important;
  }

  main {
    display: flex !important;
    flex-direction: column;

  }

  article.listings {
    width: 100%;
    margin: 0;
    padding: 10%;
  }

  .testing {
    transform: translate(-5%, 0%) !important;
    width: 100% !important;
    min-height: 100vh !important;
 
  }
}